<div>
  <p>
    <%= comment.name %>
  <p>
  <p>
    <%= comment.text %>
  <p>
  <p>
    <small>Creado el <%= comment.created_at.strftime("%d-%m-%Y") %> </small>
  <p>
  <%= button_to "Eliminar", [comment.article, comment], :method => :delete, data: { confirm: "Seguro que quieres eliminar este comentario?"} %>
</div>