<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-8 text-center">
      <h1>Articulos#index</h1>
    </div>
  </div>

  <div class="row pt-5">
    <div class="col">
      <% @articles.each do |article| %>
        <h2><%= link_to article.title, article %></h2>
        <p><small>Creado el <%= article.created_at.strftime("%d-%m-%y") %></small></p>
        <p><%= article.content.truncate_words(30) %></p>
      <% end %>
    </div>
  </div>          

  <div class="row pt-5">
    <div class="col">
      <%= link_to "nuevo articulo", new_article_path %>
    </div>
  </div>
</div>